/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.label.taskFooter {
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

.label.manager {
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

.date-picker {
	-fx-font: 14px "System";
}